<div class="welcome">


    <h2>inazure.net can tell you ...</h2>
    <div class="row intro-list">
        <div class="col-lg-3">

            <h5>Is IP used in Microsoft Azure? </h5>
            <i class="fa fa-cloud fa-5x" aria-hidden="true"></i>
            <p>
                Microsoft maintains a public list of IP addresses used by the Azure datacenters. Instead of downloading the list to see if a particular IP is an Azure IP you can use this site.
            </p>
        </div>
        <div class="col-lg-3">
            <h5>Which region is the IP used in?</h5>
            <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
            <p>
                The public list also contains information about which region that the IP is used in.
            </p>
        </div>
        <div class="col-lg-3">
            <h5>Is a site hosted in Azure? </h5>
            <i class="fa fa-server fa-5x" aria-hidden="true"></i>
            <p>
                By combining the DNS record for a domain together with Microsofts public Azure datacenter IPs we can determine if a site is hosted in Azure.
            </p>
        </div>
        <div class="col-lg-3">
            <h5>
                Which region is the site hosted in?
            </h5>
            <i class="fa fa-cog fa-5x" aria-hidden="true"></i>
            <p>
                When the IP of a site is found, we can use the datacenter IPs to determine which data center the site is hosted (note this is not 100% reliable if e.g. trafic manager is used, or other multi-region load-balancing)
            </p>
        </div>
    </div>
</div>